/*Site*/


body{
	position: relative;
	background-color: #007F8F;
	background-size: cover;
	font-size: 15px;
  	color: #666;
  	font-family: 'Roboto', sans-serif;
  

}

footer p{
	color: white;
}

.backhisto{
	backgroud-color: black;
	background: url('img/backhisto.jpg')no-repeat center;
	
	
}
