.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.gallery_product{
	color: white;

}

.fonte{
	font: Carta Magna;
}

#imgti{
	width: 100%;
	height: 100%;

}
#texto{
	position: relative;
	margin-top: -21px;
	background-color: green;
	opacity: 0.8;

	
}

.compra{
	background: green;
	border:none;
	float: right;
}

.desconto{
	color: #fff;
}

