.prodc{
	position: relative;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 70px;
	width: 90%;
}

.container {
  margin-bottom: 20px;
  padding-bottom: 50px;
  background-color: #fff;
  border-radius: 8px;
}
h1{
  text-align: left;
  color: black;

}

.text{
	position: relative;
	padding-left: 70px;
	color: black;
}

h4{
	padding-top: 2px;
	text-align: left;
	padding-left: 70px;
	color: black;

}

li.l{
	width: 90%;
	position: relative;
    border-top: 1px solid #fff;
    border-color: black;
    border-left: 70px;
    border-width: 2px;
    list-style-type: none;
    margin-left: 70px;
}
.req{
	padding-left: 70px;
	color: black;
}

.desconto{
	

}

.backoferta{
	background-size: 150px;
	border-radius: 5px;

}

.preco{
	
}