<!DOCTYPE html>
<html>
<head>
  <title>Ação</title>
  <link rel="icon" href="https://i.imgur.com/pMVjDJS.jpg" sizes="16x16">
	<meta charset="utf-8">
  <!--responsive-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  


  <!-- css bootstrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascripts/menu.js" type="text/javascript"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 

  <!--bootstrap font-->
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <!--custom css-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/backgroud.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/produtos.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/rodape.css">



</head>
<body>	
<!--Menu-->
    <nav>
      <div class="nav-fostrap">
        <ul>
          <li><a href="/">Dx Games</a></li>
          <li><a href="javascript:void(0)">Loja<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="acao">Ação</a></li>
              <li><a href="">Aventura</a></li>
              <li><a href="">MMO</a></li>
              <li><a href="">Corrida</a></li>
              <li><a href="">RPG</a></li>
              <li><a href="">Tiro</a></li>
              <li><a href="">Simulação</a></li>
              <li><a href="">Esportes</a></li>
              <li><a href="">Estratégia</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)">Sobre<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="contato">Contato</a></li>
              <li><a href="suporte">Suporte</a></li>
              <li><a href="historia">Historia</a></li>
            </ul>            
          <li><a href="javascript:void(0)" >Fazer Login<span class="arrow-down"></span></a>
            <ul class="dropdown">
              <li><a href="cadastro">Cadastro</a></li>
              <li><a href="login">Login</a></li>

            </ul>
          </li>
        </ul>
      </div>
      <div class="nav-bg-fostrap">
        <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
      </div>
    </nav>
    <div class='content'>


    </div>
</div>
</div>


<div class="container">
  <h3 align="left" class="titulo">AÇÂO</h3>
  <td class="li"></td>

  <div class="row">
     <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod1.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Sundered Edição Deluxe R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="produto">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
           <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod2.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Metro: Last Light R$ 155,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
           <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod3.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Star Wars Battlefront 2 R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
             <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod4.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">FIFA 18 <br> R$ 355,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
             <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod5.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Need for Speed <br> R$ 255,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod6.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Titanfall 2 <br> R$ 155,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
            <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod7.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc"> Battle Chasers <br> R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
             <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod8.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Elex <br> R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
            <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod9.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Spellforce 3 <br> R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
             <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod10.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Mass Effect <br> R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
             <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod11.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Battlefield 1 <br>R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe container-fluid">
        <div class="polaroid">
        <img src="images/prod12.jpg" class="img-responsive image">
        <div class="container">
        <p class="desc">Plants VS Zombies <br> R$ 55,99</p>       
        </div>
        <a class="btn btn-warning btn-responsive" href="#">Comprar <span class="glyphicon glyphicon-shopping-cart"></span></a>
    </div>
</div>
  </div>
</div>

<!-- Footer -->

<div class="footer" align="center">
        Copyright &copy; Desenvolvimento Web 2017.2
    </div>
  

	
</body>
</html>